@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

   font-family: 'Poppins', sans-serif;
}

.container{

    width: 1280px;
    margin: 0 auto;
    padding: 0px 50px;

}

/*========================
    Start Header Section
==========================
*/
.headerSection{

    background-color: #2D25A0;

}

.menu-bar{

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.toggole-bar{

    color:  white;
    font-size: 30px;
    display: none;
}

.menu-items ul{

    display: flex;
    list-style-type: none;

}

.menu-items ul li{

    margin-right: 25px;    
}

.menu-items ul li a:hover{

    color: #E02C6D;
    letter-spacing: 1px;
    transition: 0.2s all linear;

}

.menu-items ul li a{

    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.login{

    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 35px;
    font-size: 16px;
}


.header-content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.heaeder-details{

    width: 50%;
}

.heaeder-details h1{

    color: white;
    font-size: 64px;
    margin-bottom: 30px;
}




.watch{

    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.watch span{
    position: relative;
    z-index: 2;
  }


.watch:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
.watch:hover{

    letter-spacing: 3px;
}
.watch:hover:after{
    width: 100%;
    
  }

.header-image{

    width: 50%;
    margin-bottom: 100px;
}

.header-image img{
    
    width: 100%;
}




/* Mobile Responsive Style */
@media only screen and (max-width: 480px) {

    .container{

        width: 100%;
        padding: 0px 20px;
    }

    .menu-items ul{

        display: none;
    }


    .toggole-bar{

        display: block;
        margin-top: 15px;
    }

    .header-content{

        display: flex;
        flex-direction: column;

    }

    .heaeder-details{

        width: 100%;
        margin-bottom: 60px;
        
    }

    .heaeder-details h1{

        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
    }

    .header-image{

        width: 100%;
        margin-bottom: 50px;
    }

    
}

/*========================
    End Header Section
==========================
*/




/*========================
    Start Player List Style 
==========================
*/

.all-player{

    margin: 50px 0px;

}

.players{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 0px 30px;

}

.player{

    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img{

    width: 100%;
}

.player h2{

    color: #18191F;
    font-size: 28px;
    margin: 10px 0px;
    font-weight: 800;
}

.player p{

    color: #6C6C6C;;
    padding-bottom: 15px;
}


/* Mobile View Style */

@media only screen and (max-width: 480px){


    .players{

        grid-template-columns: repeat(1,1fr);
        padding: 0px 10px;
    }
    
    .player{

        width: 100%;
        padding: 15px;
    }

}

/*========================
    End Player List Style 
==========================
*/



/*========================
   Start Highlights style 
==========================
*/


.match{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0px;
    

}

.match-details{

    width: 40%;

}

.match-title{

    width: 100%;

}

.match-title h1{

    font-size: 48px;
    color: #0A0826;
    line-height: 60px;
}

.match-title p{

    color: #6C6C6C;;
    font-size: 16px;
    line-height: 28px;
    margin-top: 18px;
    margin-bottom: 30px;
}

.match-image{

    width: 50%;
}

.match-image img{

    width: 100%;
}


/* Mobile View Style */

@media only screen and (max-width: 480px){


   .match{

    flex-direction: column;
    
   }
   .match-details, .match-image, .match-image img{
    width: 100%;
    margin-bottom: 50px;
   }

}

/*========================
   End Highlights style
==========================
*/


/*========================
  Footer Section style
==========================
*/


.footer-content{

    
    width: 485px;
    margin: 0 auto;
    margin-bottom: 50px;

}

.footer-image{

    width: 100%;

}

.footer-image img{

    width: 80%;

}

.footer-social{

    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-social i{

    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;
    background-color:  rgb(152 150 150 / 30%)
}

.copyright{

    text-align: center;
}
.copyright p{

    color: #000000;
    font-size: 18px;
    font-weight: normal;
}

@media only screen and (max-width: 480px){

    .footer-content{

        width: 100%;
    }

    .footer-image{

        width: 100%;
        text-align: center;
    }

    .footer-image img{

        width: 70%;


    }
 
 }
 