@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

   font-family: 'Poppins', sans-serif;
}

.container{

    
    width: 1280px;
    display: flex;
    margin: 0 auto;
    padding: 0px 50px;

}

/*========================
    Start Header Section
==========================
*/
.headerSection{

    background-color: #2D25A0;

}

.header-content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;

}

.heaeder-details{

    width: 50%;
}

.heaeder-details h1{

    color: white;
    font-size: 64px;
    margin-bottom: 20px;
}


.watch-live {

    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 18px;
    
}

.watch-live span{

    margin-left: 5px;
    font-size: 16px;
}

.header-image{

    width: 50%;
}

.header-image img{
    
    width: 100%;
}

/* Mobile Responsive Style */
@media only screen and (max-width: 688px) {

    .container{

        width: 100%;
    }

    .header-content{

        display: flex;
        flex-direction: column;

    }

    .heaeder-details, .header-image{

        width: 100%;
        margin-bottom: 60px;
        
    }

    
}

/*========================
    End Header Section
==========================
*/